@using Logtrade.Iol.Examples.OAuth.Core.Models.ExampleRepository
@model List<ConnectionRecord>
@{
    ViewData["Title"] = "Connect to IoL";
}
@section Header {
    @* Auto-refresh to update table *@
    <meta http-equiv="refresh" content="5">
}

<h1>Creating a connection</h1>
<p>To get this application working locally, you will need to follow the <a href="/setup">setup instructions</a></p>
<p>You can connect in two ways. Either you can make an API request to get IoL to send an email to the client's sysadmins to connect.</p>

<div class="text-center mb-2">
    <a href="/assisted-connect" class="btn btn-primary">Assisted Connect</a>
</div>
<p>Or you can create a connection url yourself, so a user can click a button or link in an email, log in to their IoL account, and accept the connection.</p>
<div class="text-center mb-2">
    <a href="/manual-connect" class="btn btn-primary">Manual Connect</a>
</div>
<p>With either method, on accepting or rejecting the connection request, your server will get informed of the connection and you can track the status of those requests below.</p>
<h3>Connection Requests</h3>
<table class="table">
    <thead>
        <tr>
            <th>Started</th>
            <th>Type</th>
            <th>State</th>
            <th>Connecting To</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var connection in Model)
        {
            <tr>
                <td>@connection.Started</td>
                <td>@connection.ConnectionType</td>
                <td>@connection.ConnectionState</td>
                <td>@connection.IolOrganisationIdentity</td>
                <td>@connection.Completed</td>
            </tr>
        }
        @if(Model.Count == 0)
        {
            <tr>
                <td colspan="5">No connections started yet</td>
            </tr>
        }
    </tbody>
</table>
